# install in /etc/systemd/system

[Unit]
Description=A service for running test suites on the yens
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/etc/yentools/yentests
EnvironmentFile=/etc/yentools/yentests/service/.env
ExecStart=/etc/yentools/yentests/service/.start
ExecStop=/etc/yentools/yentests/service/.stop
Restart=no

[Install]
WantedBy=multi-user.target